.testimonials {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: #495E57;
}

.testimonials .container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 1.25rem;
}

.testimonials h2 {
  grid-column: 1 / 5;
  grid-row: 1;
  margin-bottom: 1.875rem;
  color: #FFFFFF;
}
