* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
  color: #495E57;
}

a {
  text-decoration: none;
  color: #495E57;
}

a:hover, a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

main > section {
  margin-bottom: 5rem;
}

.container {
  max-width: 61.625rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.button-primary {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 0.1875rem solid #F4CE14;
  background-color: #F4CE14;
  font-weight: bold;
  transition: background 0.5s;
}

.button-primary:hover, 
.button-primary:focus {
  background-color: #495E57;
  color: #FFFFFF;
}
